
:root {
    --heading-background-color: #f3f6f1;
    --heading-text-color: #357a4c;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 0.3rem;
    --border: 1px solid #b7d5d4;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.5rem;
}

header img {
    position: relative;
    left: -25%;
    width: 200px;
}

h1 {
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    position: relative;
    font-size: 4.5rem;
    text-align: center;
    margin: 40px;
    padding: 5px;
}

article {
    position: relative;
    left:  100px;
    width: 80%;
    background-color: rgba(80, 151, 133, 0.429);
    padding: 10px;
    border: 2px solid#333;
    padding: 20px;
}

article img {
    float: right;
    width: 170px;
    padding: 0 0 10px;
}

p {
    margin: 20px;
    padding: 5px;
    font-size: 18px;
    text-align: left;
}

article p {
    color: #474a47;
}

.History img {
    display: flex;
    justify-content: center;
    grid-column: 2 / 3;
    width: 450px;
    margin-left: 35%;
    margin-top: 5%;
}


section {
    width: 100%;
    gap: 15px;
    flex-wrap: wrap;
    overflow: hidden;
}

.History p {
    grid-column: 1 / 2;
    
}


section figure {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 75%;
}
section img {
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin: 80px;
    margin-bottom: 5px;
    align-items: center;
}

.adventure-picture {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

section figcaption {
    text-align: center;
    left: 50%;
    transform: translate(20%);
    font-size: 17px;
    margin-bottom: 20%;
}
    
h2 {
    position: absolute;
    right: 45%;
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    font-size: 2rem;
    
}


a {

    text-decoration: none;
}


footer img{
    width: 45px;
}

footer nav {
    display: flex;
    justify-content: left;
    gap: 10px;
}

footer {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 1.5px;
    text-align: left;
    padding: 1.5px;
}