@import url(https://fonts.google.com/specimen/Playfair+Display?preview.layout=grid&query=pla);

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px
}

:root {
    --primary-color: #5475ce;
    --secondary-color: #BEC5AD;
    --accent1-color: #f1f2eb;
    --accent2-color: #e2b4bd;

    --heading-font: 'playfair-display', serif;
    --paragraph-font: 'playfair-display', serif;

    --nav-background-color: #f1f2eb;
    --nav-link-color: #e2b4bd;
    --nav-hover-link-color: #808eb5;
    --nav-hover-background-color: #bec5ad;
}

header {
    padding-left: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 0;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color, 0rgb(0, 195, 255));
}

#hero-img {
    background-position: top;
}

.hero img {
    display: block;
    width: 200px;
    height: auto;
}

.hero article, h1 {
    position: relative;
}

.hero {
    position: relative;
}

.hero p {
    position: relative;
    color: black;
    top: 0;
    left: 0;
}

