@import url(https://fonts.google.com/specimen/Playfair+Display?preview.layout=grid&query=pla);

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px
}

:root {
    --primary-color: #586895;
    --secondary-color: #BEC5AD;
    --accent1-color: #f1f2eb;
    --accent2-color: #e2b4bd;

    --heading-font: 'playfair-display', serif;
    --paragraph-font: 'playfair-display', serif;

    --nav-background-color: #f1f2eb;
    --nav-link-color: #e2b4bd;
    --nav-hover-link-color: #808eb5;
    --nav-hover-background-color: #bec5ad;
}


a {
    text-decoration: none;
}

header {
    margin: 1rem auto;
    display: flex;
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    border-bottom: 1px solid #37628d;
    max-width: 1000px;
}
 
.logo img {
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

h1 {
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
}

nav {
	text-align: right;
}


p {
    padding: 0;
}


body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color, 0rgb(0, 195, 255));
}

figure {
    display: block;
    flex-flow: column;
    padding: 20px;
    max-width: 220px;
    margin: 5px;   
}
img {
    max-width: 500px;
}


figcaption {
    color: #496f7a;
    padding: 5px;
    text-align: left;
}

form {
    width: 500px;
    margin: 0;
    padding: 1rem;
    border: 0.5px solid rgba(13, 91, 127, 0.64);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: none;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: rgb(53, 133, 164);
    font-size: 1.5rem;
}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

legend {
    text-align: left;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 1rem;
    font-size: 1.2em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: rgb(53, 133, 164);
    color: rgb(241, 246, 248);
    border: none;
    border-radius: .5rem;
    padding: .50rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(2, 72, 104);
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.5em;
    color: #1389a0;
    border-top: 1px solid #e4cfcf;
}

.form-item {
    display: grid;
    align-items: center;
}

footer {
    text-align: right;
    font-size: 1rem;
}

