* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: rgb(63, 156, 119);
    background: rgb(241, 241, 239);
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.4rem;
    color:rgb(63, 156, 119);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #a3a8a4ee;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid #a3a8a4ee;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: rgb(63, 156, 119);
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.form-item {
    display: grid;
    align-items: center;
}

.columu1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.columu2 {
    grid-template-columns: 1fr 2fr;
}

button {
    margin: 1rem;
    background-color: #eee;
    color: rgb(63, 156, 119);
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgba(105, 163, 105, 0.599);
}

footer {
    margin: 1rem auto 0;
    width: 600px;
    text-align: center;
    font-size: 0.8rem;
    color: rgba(63, 156, 119, 0.774);
    border-top: 1px solid rgb(162, 157, 157);
}