@import url(https://fonts.google.com/specimen/PT+Serif?preview.layout=grid);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: rgb(88, 171, 238);
    background: rgb(254, 254, 254);
}

header {
    margin: 0;
    width: 650px;
}

h1 {
    margin: 1rem;
    color: rgb(88, 171, 238);
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 0.5px solid rgba(148, 148, 243, 0.64);
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: none;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: rgb(88, 171, 238);
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

legend {
    text-align: center;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 1rem;
    font-size: 1.5rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

h5 {
    text-align: center;
    margin: 0.5rem;
    border: 0.5rem solid rgb(216, 208, 208);
    border-radius: 1rem;
}

button {
    margin: 1rem;
    background-color: rgb(88, 171, 238);
    color: white;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: rgb(12, 113, 181);
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.5em;
    color: #16c4d0;
    border-top: 1px solid #77cee9;
}

.form-item {
    display: grid;
    align-items: center;
}