* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --heading-background-color: rgba(163, 87, 130, 0.723);
    --heading-text-color: #333333df;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 0.3rem;
    --border: 1px solid #b7d5d4;
}

nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
   }   

nav a {
 color: var(--heading-text-color);
 display: block;
 padding: var(--padding);
}

h1 {
 color: var(--heading-text-color);
}

main img {
 width: 150px;
 height: auto;
 border: var(--border);
 padding: var(--padding);
 box-shadow: 0 0 30px gray;
 float: right;
 margin: 0 0 1rem 1rem;
}

p {
 padding: var(--padding);
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: relative;
    top: 1px;
    right: 5px;
}

footer {
    margin: 15px;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ .1);
    padding: 1rem;
    background-color: var(--heading-background-color);
    color: var(--heading-text-color);
}